.navs {
  display: flex;
}
a {
  font-size: 20px;
  color: black;
  border: 1px solid #88ccff;
  padding: 5px;
  text-decoration: none;
  margin: 0 5px 0 5px;
}
a:first-child {
  margin-left: 0;
}
.active {
  color:white;
  background:#88ccff;
  border: 1px solid black;
}
a:hover {
  color:white;
  background:#88ccff;
  border: 1px solid black;
}
.home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items:center;
}
.options {
  border: 1px dashed lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 5px; 
  padding: 5px;
}
.optionsbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.homelinks {
  margin-left: 25px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}