.smurflist {
    display: flex;
    justify-content: center;
    align-items: center;
}
.smurfcard {
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    width: 40%;
    margin: 5px;
}
.smurfcard:hover {
    color: white;
    background: #88ccff;
}
.smurf {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.smurfbutton {
    font-size: 20px;
    color: black;
    border: 1px solid #88ccff;
    padding: 5px;
    cursor: pointer;
    margin: 0 5px 0 5px;
    background: none;
}